Shailesh Dev Org/src/flows/flowForSms-17.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apexPluginCalls>
        <name>pulgin_sms</name>
        <label>pulgin sms</label>
        <locationX>590</locationX>
        <locationY>157</locationY>
        <apexClass>SMSPlugin</apexClass>
        <connector>
            <targetReference>Access_token</targetReference>
        </connector>
        <inputParameters>
            <name>AccountSid</name>
            <value>
                <stringValue>ACe9a7669a5fdee0a321384feed1312e95</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>From</name>
            <value>
                <stringValue>+13172820715</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Message</name>
            <value>
                <stringValue>Your Access token is</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>To</name>
            <value>
                <stringValue>+917827099742</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Token</name>
            <value>
                <stringValue>0bd2e9c549595dcd722089f824173bf4</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>status</assignToReference>
            <name>Status</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>VerificationCode</assignToReference>
            <name>VerificationCode</name>
        </outputParameters>
    </apexPluginCalls>
    <decisions>
        <name>Verify_User</name>
        <label>Verify User</label>
        <locationX>698</locationX>
        <locationY>541</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VerificationCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Accesstoken</elementReference>
                </rightValue>
            </conditions>
            <label>Valid</label>
        </rules>
        <rules>
            <name>Invalid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VerificationCode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Accesstoken</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Display_Message</targetReference>
            </connector>
            <label>Invalid</label>
        </rules>
    </decisions>
    <interviewLabel>flowForSms {!$Flow.CurrentDateTime}</interviewLabel>
    <label>flowForSms</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>QueryUser</name>
        <label>QueryUser</label>
        <locationX>130</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>pulgin_sms</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoginFlow_UserId</elementReference>
            </value>
        </filters>
        <object>User</object>
    </recordLookups>
    <screens>
        <name>Access_token</name>
        <label>Access token</label>
        <locationX>385</locationX>
        <locationY>256</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Verify_User</targetReference>
        </connector>
        <fields>
            <name>Accesstoken</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>code</elementReference>
            </defaultValue>
            <fieldText>Access Token</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>verificatiion</name>
            <fieldText>{!VerificationCode}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Display_Message</name>
        <label>Display Message</label>
        <locationX>793</locationX>
        <locationY>216</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Access_token</targetReference>
        </connector>
        <fields>
            <name>text</name>
            <fieldText>The code entered is wrong! Please enter a valid code.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>compare</name>
            <fieldText>{!VerificationCode} :- verification code
{!code} :- Mobile code</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>QueryUser</startElementReference>
    <variables>
        <name>code</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VerificationCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
