Shailesh Dev Org/src/flows/flowForSms-6.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apexPluginCalls>
        <name>pulgin_sms</name>
        <label>pulgin sms</label>
        <locationX>590</locationX>
        <locationY>157</locationY>
        <apexClass>SMSPlugin</apexClass>
        <connector>
            <targetReference>Hello</targetReference>
        </connector>
        <inputParameters>
            <name>AccountSid</name>
            <value>
                <stringValue>ACe9a7669a5fdee0a321384feed1312e95</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>From</name>
            <value>
                <stringValue>+15005550006</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Message</name>
            <value>
                <stringValue>Your Access token is</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>To</name>
            <value>
                <stringValue>+919999598466</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Token</name>
            <value>
                <stringValue>0bd2e9c549595dcd722089f824173bf4</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>status</assignToReference>
            <name>Status</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>VerificationCode</assignToReference>
            <name>VerificationCode</name>
        </outputParameters>
    </apexPluginCalls>
    <decisions>
        <name>Verify_User</name>
        <label>Verify User</label>
        <locationX>734</locationX>
        <locationY>337</locationY>
        <defaultConnector>
            <targetReference>pulgin_sms</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>invalid</defaultConnectorLabel>
        <rules>
            <name>Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VerificationCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>code</elementReference>
                </rightValue>
            </conditions>
            <label>Valid</label>
        </rules>
    </decisions>
    <interviewLabel>flowForSms {!$Flow.CurrentDateTime}</interviewLabel>
    <label>flowForSms</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>QueryUser</name>
        <label>QueryUser</label>
        <locationX>130</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>pulgin_sms</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoginFlow_UserId</elementReference>
            </value>
        </filters>
        <object>User</object>
    </recordLookups>
    <screens>
        <name>Hello</name>
        <label>Hello</label>
        <locationX>385</locationX>
        <locationY>256</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Verify_User</targetReference>
        </connector>
    </screens>
    <startElementReference>QueryUser</startElementReference>
    <variables>
        <name>code</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VerificationCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
